<div class="card bg-base-100 shadow-sm animate-fadeIn">
    <figure class="px-10 pt-10">
        <img
        [src]="{ productId:product()._id,
                 productImg:product().img} | productImages"
        [alt]="product().name"
        class="rounded-xl" />
    </figure>
    <div class="card-body items-center text-center">
        <h2 class="card-title font-serif text-accent text-lg hover:underline cursor-pointer" [routerLink]="['/products',product()._id]">
        {{product().name}}</h2>
        <p>{{product().description | slice : 0 : 70}}...</p>
        <a class="link link-accent" [routerLink]="['/products',product()._id]">Ver Detalles</a>
        <div class="card-actions">
        <button class="btn btn-primary">Buy Now</button>
        </div>
    </div>
</div>