<div class="navbar bg-base-100 bg-gray-500 shadow-sm">
    <div class="navbar-start">
      <div class="dropdown">
        <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"> <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" /> </svg>
        </div>
        <ul
          tabindex="0"
          class="menu menu-sm dropdown-content bg-base-100 rounded-box z-1 mt-3 w-52 p-2 shadow">
          <li>
                <details>
                <summary routerLink="/section/prendas de vestir" class="btn btn-ghost font-agbalumo" routerLinkActive="text-secondary ">Prendas de Vestir</summary>
                <ul class="p-2">
                  <li><a>Hombres</a></li>
                  <li><a>Mujeres</a></li>
                  <li><a>Niños</a></li>
                  <li><a>Unisex</a></li>
                </ul>
        </details>     
          </li>
          <li>
            <a routerLink="/section/disfraces" class="btn btn-ghost" routerLinkActive="text-secondary">Disfraces</a>
          </li>
          <li>
                <a routerLink="/section/accesorios para el hogar" class="btn btn-ghost" routerLinkActive="text-secondary">Accesorios Para el Hogar</a>
          </li>
          <li>
            <a routerLink="/section/juguetes" class="btn btn-ghost" routerLinkActive="text-secondary">Juguetes</a>
          </li>
          
        </ul>
      </div>
      <a [routerLink]="'/'" class="flex items-center">
          <img src="./assets/images/logo-stylos.jpg" alt="Logo" class="h-15 w-auto cursor-pointer" />
          <span class="text-5xl font-light text-amber-300"> hop </span>
      </a>

      <!-- <a routerLink="/" class="btn btn-ghost text-2xl font-agbalumo">
        Adriana
        <span class="text-secondary">| Shop </span>
      </a> -->
    </div>


    <div class="navbar-center hidden lg:flex">
      <ul class="menu menu-horizontal px-1">
        <li>
          <details>
          <summary routerLink="/section/prendas de vestir" class="btn btn-ghost font-agbalumo" routerLinkActive="text-secondary text-2xl">Prendas de Vestir</summary>
          <!-- <ul class="p-2">
            <li><a>Hombres</a></li>
            <li><a>Mujeres</a></li>
            <li><a>Niños</a></li>
            <li><a>Unisex</a></li>
          </ul> -->
        </details>     
      </li>
      <li>
        <a routerLink="/section/disfraces" class="btn btn-ghost font-agbalumo" routerLinkActive="text-secondary text-2xl">Disfraces</a>
      </li>
      <li>
            <a routerLink="/section/accesorios para el hogar" class="btn btn-ghost font-agbalumo" routerLinkActive="text-secondary text-2xl">Accesorios Para el Hogar</a>
      </li>
      <li>
        <a routerLink="/section/juguetes" class="btn btn-ghost font-agbalumo" routerLinkActive="text-secondary text-2xl">Juguetes</a>
      </li>
      </ul>
    </div>
    <div class="navbar-end gap-4">
        @if( authService.authStatus() === 'authenticated'){
          <button class="btn btn-ghost">
            {{ authService.user()?.name}}
          </button>
          <button class="btn btn-sm btn-error" (click)="authService.logout()">
            Salir
          </button>
        }

        @else if(authService.authStatus()==='not-authenticated') {
          <a routerLink="/auth/login" class="btn btn-primary"> Login </a>
        }
        @else{
          <a class="btn btn-ghost">...</a>
        }
    </div>
</div>

